body {
    background: linear-gradient(to bottom, #001f3f, #007bff); /* Degradê de azul marinho para azul */
    color: #333; /* Cor do texto para melhor legibilidade */
}

.navbar {
    background-color: rgba(0, 0, 0, 0.9); /* Navbar com fundo quase preto */
    color: rgb(255, 255, 255); /* Cor do texto da navbar */
}

.navbar-brand img {
    width: 35px;
    height: 35px;
}

.navbar-nav {
    margin-left: auto; /* Isso alinha os itens à direita */
}

.navbar-nav .nav-link {
    color: rgb(255, 255, 255) !important; /* Texto do link em branco */
    position: relative;
    transition: color 0.3s ease;
}

.navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px; /* Espessura da borda */
    background: transparent; /* Cor inicial da borda */
    transition: background 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #fff; /* Altera a cor do texto ao passar o mouse */
}

.navbar-nav .nav-link:hover::after {
    background: #fff; /* Cor da borda ao passar o mouse */
}


.slogan {
    margin: 20px 0;
    font-size: 1.2em;
    color: #555; /* Texto cinza */
}

.login-container {
    width: 100%;
    max-width: 370px; /* Define a largura máxima */
    padding: 2rem; /* Adiciona espaçamento interno */
    opacity: 0.9; 
}

.card {
    border: none;
    background-color: rgba(255, 255, 255, 0.8); /* Fundo branco com 80% de opacidade */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra para destaque */
}

.card-title {
    color: #007bff; /* Cor do título */
}

.footer {
    background-color: #000;
    color: white;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}


.footer p {
    margin: 0;
}

.btn-primary {
    background-color: #007bff; /* Cor principal do botão */
    border-color: #007bff; /* Borda do botão */
}

.btn-primary:hover {
    background-color: #0056b3; /* Cor do botão ao passar o mouse */
}